Flow/flows.json
[{"id":"bef818bd.c67018","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c8194557.a67538","type":"mqtt in","z":"bef818bd.c67018","name":"","topic":"/feeds/smoke","qos":"2","datatype":"auto","broker":"b9ca1278.139f7","x":70,"y":100,"wires":[["9676aaea.878d68","f75fdaba.a4eb08"]]},{"id":"9676aaea.878d68","type":"debug","z":"bef818bd.c67018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":200,"wires":[]},{"id":"d2a6e6bb.f12068","type":"ui_gauge","z":"bef818bd.c67018","name":"","group":"8f33e7eb.f75728","order":1,"width":0,"height":0,"gtype":"gage","title":"Battery","label":"Percentage","format":"{{value}}","min":0,"max":"100","colors":["#b50000","#e6e600","#00b500"],"seg1":"","seg2":"","x":600,"y":360,"wires":[]},{"id":"266533f5.daf60c","type":"ui_toast","z":"bef818bd.c67018","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"ALERT!!!!!","name":"","x":550,"y":120,"wires":[[]]},{"id":"82ab45d4.acfc78","type":"ui_text","z":"bef818bd.c67018","group":"8f33e7eb.f75728","order":0,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":220,"wires":[]},{"id":"f8f40ea4.4c80b","type":"function","z":"bef818bd.c67018","name":"","func":"if (msg.payload.includes(\"Battery\"))\n{\n    var output = msg.payload.split(\":\");\n    msg.payload = output[1];\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["d2a6e6bb.f12068"]]},{"id":"b9d4e3da.1f8c7","type":"function","z":"bef818bd.c67018","name":"","func":"if (msg.payload===\"SmokeAlarm\")\n{\n    msg.payload = \"Warning Smoke Detected!\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["6a20df4a.c5b43","ee3d065b.0fcf78"]]},{"id":"6a20df4a.c5b43","type":"ui_audio","z":"bef818bd.c67018","name":"Smoke","group":"8f33e7eb.f75728","voice":"en-GB","always":true,"x":590,"y":440,"wires":[]},{"id":"15d1756f.199f8b","type":"function","z":"bef818bd.c67018","name":"","func":"if (msg.payload===\"TestAlarm\")\n{\n    msg.payload = \"Smoke alarm tested!\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":410,"y":500,"wires":[["eb77acd6.f4dd4"]]},{"id":"eb77acd6.f4dd4","type":"ui_audio","z":"bef818bd.c67018","name":"Test","group":"8f33e7eb.f75728","voice":"en-GB","always":true,"x":590,"y":500,"wires":[]},{"id":"2fc528f6.ff9cc8","type":"function","z":"bef818bd.c67018","name":"","func":"if (msg.payload.includes(\"SmokeAlarm\"))\n{\n    msg.payload = \"Warning Smoke Detected\";\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["266533f5.daf60c"]]},{"id":"42211499.fa57ac","type":"function","z":"bef818bd.c67018","name":"","func":"\n if (msg.payload===\"TestAlarm\")\n{\n    msg.payload = \"Test button is pressed\";\n    return msg;\n}\nelse if(msg.payload===\"SmokeAlarm\")\n{\n    msg.payload = \"Warning Smoke detected!!\";\n    return msg;\n} \n\n","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["82ab45d4.acfc78"]]},{"id":"f75fdaba.a4eb08","type":"function","z":"bef818bd.c67018","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":200,"wires":[["42211499.fa57ac","f8f40ea4.4c80b","b9d4e3da.1f8c7","15d1756f.199f8b","f11102b6.2b77c","2fc528f6.ff9cc8"]]},{"id":"f11102b6.2b77c","type":"trigger","z":"bef818bd.c67018","op1":"","op2":"Safehome","op1type":"pay","op2type":"str","duration":"10","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":590,"y":300,"wires":[["82ab45d4.acfc78"]]},{"id":"ee3d065b.0fcf78","type":"e-mail","z":"bef818bd.c67018","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"baizilmd95@gmail.com","dname":"","x":830,"y":400,"wires":[]},{"id":"b9ca1278.139f7","type":"mqtt-broker","z":"","name":"localmosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8f33e7eb.f75728","type":"ui_group","z":"","name":"SmartSmokeUI","tab":"2567de2b.54aad2","disp":true,"width":"6","collapse":false},{"id":"2567de2b.54aad2","type":"ui_tab","z":"","name":"SmartSmoke","icon":"dashboard","order":2,"disabled":false,"hidden":false}]